nav {
  width: 100px; /* Adjust width as needed */
  height: 100vh; /* Full viewport height */
  position: fixed; /* Keep it fixed on scroll */
  top: 0;
  left: 0;
  background-color: transparent;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

nav img {
  width: 60px; /* Adjust width as needed */
  height: auto;
  display: block;
  margin: 0 auto 10px; /* Center the image and add some bottom margin */
}

li.logo a:hover {
  background-color: transparent;
}
